/*
 Theme Name:   SA Learning Centre
 Description:  Custom website for SA Learning Centre.
 Author:       Boylen Team
 Author URI:   https://www.boylen.com.au
 Template:     neve
 Version:      1.0.0
 Text Domain:  sa-learning
*/
