@use 'variables' as *;

.gform_wrapper .site-form {
  .gfield {
    input, select, textarea {
      padding: 8px 25px;
      &::placeholder {
        color: rgba($text-color, 0.75);
      }
      
      &::-webkit-input-placeholder { /* Chrome/Safari/Opera */
          color: rgba($text-color, 0.75);
      }
      
      &::-moz-placeholder { /* Firefox */
          color: rgba($text-color, 0.75);
          opacity: 1; /* Firefox needs this */
      }
      
      &:-ms-input-placeholder { /* IE/Edge */
          color: rgba($text-color, 0.75);
      }
    }
    select {
      
      // Style the select when showing placeholder
      &:has(option.gf_placeholder:checked) {
          color: rgba($text-color, 0.35);
      }
      
      // Style when an actual option is selected
      &:has(option:not(.gf_placeholder):checked) {
          color: $text-color;
      }
    }
  }

  .gform_footer .gform_button.button {
    background: $pcolor;
    transition: .5s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }

  &.site-form-alt{
    .gform_footer .gform_button.button {
      background-color: $scolor;
      padding: 10px 40px 10px 25px;
      background-position: 90% 13px;
    }

    .gfield {
      input.large, select.large, textarea {
        background: $white;
      }
    }
  }
}