
@media screen and (max-width: 767px) {
    .sm-mb-0 {
        margin-bottom: 0;
    }
}


@media (max-width: 781px) {
    .wp-block-columns.mb-two-col .wp-block-column {
        flex-basis: 45% !important;
    }
}