@use 'variables' as *;

.category-featured-block {
    .flex-container {
        display: flex;
        gap: 20px;
        
        &:has(.featured-item:hover) .featured-item:not(:hover) {
            flex: 1;
            
            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    
    .featured-item {
        flex: 1;
        min-width: 0;
        height: 650px;
        position: relative;
        box-sizing: border-box;
        padding: 25px;
        transition: all 0.3s ease;
        
        h3 {
            position: relative;
            z-index: 10;
        }
        
        .featured-content {
            position: relative;
            z-index: 10;
        }
        .featured-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $smallRadius;                
            }
        }
        span.post-count {
            position: absolute;
            bottom: 0;
            right: 0;
            background: $scolor;
            color: $white;
            padding: 10px 25px;
            line-height: normal;
            border-radius: $smallRadius 0 $smallRadius 0;
        }
        .featured-content {
            display: flex;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: opacity 0.4s ease, max-height 0.4s ease, visibility 0.4s;
            gap: 20px;

            .content-info {
                flex: 0 0 auto;
                max-width: 300px;
                line-height: 1.4;
            }
            
            .courses-wrapper {
                flex: 0 0 auto;
                max-width: 300px;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    a {
                        text-decoration: none;
                    }
                    li {
                        border-bottom: 1px solid rgba($scolor, 0.8);
                        padding-bottom: 6px;
                        margin: 6px 0;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
                h4 {
                    margin-bottom: 5px;
                }
            }
            .btn-wrapper {
                margin-top: 15px;
                > a {
                    font-size: .95rem;
                    padding: 8px 25px;
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom,
                            $actcolor1 0%,
                            $actcolor1 45%,
                            transparent 100%);
            border-radius: $smallRadius $smallRadius 0 0;
        }
        
        // Hover state
        &:hover {
            flex: 4;
            
            .featured-content {
                opacity: 1;
                max-height: 500px;
                visibility: visible;
            }
        }
    }
}


.number-counter-block {
    .number-wrapper {
        font-size: 6.5rem;
        font-weight: 500;
        font-family: 'Outfit';
        line-height: 1;
        border-bottom: 1px solid;
        width: 100%;
        display: flex;
    }
}

.course-listing-block {
    .filters-wrapper {
        width: 100%;
        padding-bottom: 35px;
    }
    .filter-list {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: rgba($scolor, 0.5);
                font-weight: 500;
                font-size: .95rem;
                transition: color 0.3s ease;
                &:hover {
                    color: $scolor;
                }
            }
            &.active a {
                color: $scolor;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .courses-wrapper {
        .course-item {
            border-radius: 0 0 $smallRadius $smallRadius;
            background: $white;
        }
        .course-img {
            height: 300px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $smallRadius $smallRadius 0 0;
            }
            .course-code {
                position: absolute;
                top: 0;
                left: 0;
                background: $scolor;
                color: $white;
                padding: 10px 20px;
                border-radius: $smallRadius 0 $smallRadius 0;
                line-height: 1;
            }
            .c-highlight {
                position: absolute;
                bottom: 0;
                left: 0;
                background: $pcolor;
                color: $white;
                padding: 10px 20px;
                border-radius: 0 $smallRadius 0 0;
                line-height: 1;
            }
        }
        .course-info {            
            padding: 25px 30px;            
            h4 {
                margin-bottom: 10px;
            }
            .course-det {
                padding-bottom: 5px;
            }
        }
    }
}