@use 'variables' as *;

.category-featured-block {
    .featured-item {
        flex: 1 1 calc(25% - 20px);
        height: 650px;
        position: relative;
        box-sizing: border-box;
        padding: 25px;
        h3, .featured-content {
            position: relative;
            z-index: 10;
        }
        .featured-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $smallRadius;                
            }
        }
        span.post-count {
            position: absolute;
            bottom: 0;
            right: 0;
            background: $scolor;
            color: $white;
            padding: 10px 25px;
            line-height: normal;
            border-radius: $smallRadius 0 $smallRadius 0;
        }
        .featured-content {
            display: flex;
            display: none;
            .courses-wrapper ul {
                list-style: none;
                padding: 0;
                margin: 0;
                a {
                    text-decoration: none;
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, $actcolor1, transparent);
            border-radius: $smallRadius $smallRadius 0 0;
        }
    }
}