
:root {
    --fa-arrow-right: "\f061";
    --fa-arrow-left: "\f060";
    --fa-phone: "\f095";
    --fa-close: "\f00d";
}

/* --------------------------- */
/* VARIABLES */
/* --------------------------- */

$pcolor: #1e7546;
$scolor: #102f47;
$actcolor1: #e4dfdb;
$actcolor2: #b8b8b8;
$actcolor3: #b9b9b9;
$text-color: #102f47;
$body-bg: #fffdf1;
$white: #fff;
$fullWidthRadius: 75px;

$smallRadius: 20px;
$containerWidth: 1410px;
$col-gap: 20px;

