
:root {
    --fa-arrow-right: "\f054";
    --fa-arrow-left: "\f060";
    --fa-phone: "\f095";
    --fa-close: "\f00d";
    --fa-home: "\f015";
    --fa-calendar: "\f073";
    --fa-map-marker-alt: "\f3c5";
    --fa-clock: "\f017";
}

/* --------------------------- */
/* VARIABLES */
/* --------------------------- */

$pcolor: #1e7546;
$scolor: #102f47;
$actcolor1: #e4dfdb;
$actcolor2: #b8b8b8;
$actcolor3: #729ab9;
$text-color: #102f47;
$body-bg: #fffdf1;
$white: #fff;
$fullWidthRadius: 75px;

$smallRadius: 20px;
$containerWidth: 1410px;
$col-gap: 20px;

